.command-section {
    margin: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    .execute-button {
        margin-top: 8px;
    }
}