.room-floor {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    position: relative;
    background-color: lightyellow;
    .row {
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
      }
      
      .cell {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        border-right: 1px solid gray;
        border-bottom: 1px solid grey;
        box-shadow: inset 0px 0 4px 0px grey;
      }
      .cell:first-of-type {
        border-left: 1px solid gray;
      }
      
      .row.last-row .cell {
        border-top: 1px solid gray;
      }
}