.stage {
    .execute-floating-button {
        position: fixed;
        bottom: 80px;
        right: 10px;
    }
    .settings-button {
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
}